<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
		<title>{% block title %}{% endblock %} - μPlayer</title>
	</head>
	<body>
		<nav>
			<h1 class="title is-4">μPlayer</h1>
			<ul>
				<li>
					<a href="{{ url_for('player.index') }}" aria-label="player">
						<span class="nav-label">player</span>
						<span class="material-icons nav-icon" aria-hidden="true">library_music</span>
					</a>
				</li>
				<li>
					<a href="{{ url_for('preferences.index') }}" aria-label="preferences">
						<span class="nav-label">preferences</span>
						<span class="material-icons nav-icon" aria-hidden="true">settings</span>
					</a>
				</li>
				<li>
					<a href="{{ url_for('connect.index') }}" aria-label="connect a device">
						<span class="nav-label">connect a device</span>
						<span class="material-icons nav-icon" aria-hidden="true">phonelink_ring</span>
					</a>
				</li>
			</ul>
		</nav>
		<section class="content">
			{% block content %}{% endblock %}
		</section>
	</body>
</html>
